@font-face {
    font-family: "OpenSans";
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    box-sizing: border-box;
}
body{
    font-family: "OpenSans";
    margin: 0;
}
nav{
    background-color: #24353F;
    box-shadow: 0px 10px 50px rgb(0, 0, 0);
}
.btn-home a{ text-decoration: none;
color: rgba(255, 255, 255, .5) !important;}
.btn-home a:hover{ text-decoration: none;
color: white !important;}
.logo{
    color: white;
}
.logo:hover{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 40px;
    font-weight: 500;
  color: #17A2B8;
}
.login{
    background-color: #24353F;
}
.sigin-up{
    background-color: #24353F;
}
.login h1{
    color: #17A2B8;
}
input{
    background-color:#24353F;
    border:  2px #ced4da solid;
    color: white;
    padding: 7px;
}
*::placeholder{
    color: #ced4da !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.form-control {
    background-color: #24353F;
    color: white;
}

.form-control:focus {
    color: white;
    background-color: #24353F;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}
.login-content button{
    background-color: #24353F;
    padding: 7px;

}
 a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.login-content{
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
   
}
.sigin-up-content{
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
   background-color: #24353F;
}
.home{
    background-color: #24353F;
}
.home-content h2{
    background-color: #24353F;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    color:#17A2B8;
}